SITE_URL=https://cherryrefrigeration.com.au
RESEND_API_KEY=re_xxx
QUOTE_TO_EMAIL=service@cherryrefrigeration.com.au
QUOTE_FROM_EMAIL=quotes@cherryrefrigeration.com.au
QUOTE_WEBHOOK_URL=
TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
NEXT_PUBLIC_GA_ID=G-QCM5GYXMSH
